{% extends 'base.html' %}

{% block title %}Lista de Playeras{% endblock %}

{% block content %}
    <h1 style="color: #00FFFF;">Lista de Playeras</h1>
    <ul style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px; list-style-type: none; padding: 0;">
        {% for producto in productos %}
            <li style="border: 2px solid #ddd; border-radius: 10px; overflow: hidden; text-align: center; padding: 10px;">
                <!-- Mostrar la imagen si está disponible -->
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="width: 100%; height: auto; margin-bottom: 10px;">
                {% endif %}
                
                <!-- Nombre y precio -->
                {% if user.is_authenticated %}
                    <a href="{% url 'productos:personalizar_playera' producto.id %}" style="text-decoration: none; color: #00FFFF; font-weight: bold; display: block; margin-bottom: 5px;">{{ producto.nombre }}</a>
                    <p style="font-size: 16px; color: white;">${{ producto.precio }}</p>
                {% else %}
                    <p style="color: gray; font-weight: bold;">{{ producto.nombre }}</p>
                    <p style="font-size: 16px; color: white;">${{ producto.precio }} (Inicia sesión para personalizar)</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
