{% extends 'base.html' %}

{% block title %}Bienvenido a la Tienda{% endblock %}

{% block content %}
<div class="layout">
    <!-- Contenido principal -->
    <div class="main">
        <h1 class="welcome" style="color: #00FFFF;">Bienvenido a la Tienda Personalizada</h1>
        <p class="text" FONT FACE="impact" SIZE=5>¡Bienvenido a nuestra tienda en línea! Aquí podrás crear tu propia camiseta personalizada con los diseños y colores que más te gusten.</p>
        <p class="text" FONT FACE="impact" SIZE=5>Ofrecemos una amplia variedad de opciones para que puedas personalizar tu camiseta de fútbol o para cualquier ocasión especial. Elige entre diferentes colores, tamaños y estilos, y agrega tu nombre, número o cualquier detalle único que te haga destacar.</p>
        <p class="text" FONT FACE="impact" SIZE=5>Selecciona una opción del menú para comenzar. Si ya tienes una idea de lo que deseas, ¡haz clic en "Personalizar" y empieza a diseñar tu camiseta ahora mismo!</p>
    </div>

    <!-- Imagen de fondo -->
    <div class="image-section">
        <img src="/static/images/Logo PNG.png" alt="Tienda personalizada" class="background-image">
    </div>
</div>
{% endblock %}